server:
  port: 9001

spring:
  application:
    name: wirebarly-test-application
  datasource:
    url: jdbc:mysql://localhost:3306/wirebarly
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.MySQLDialect
  sql:
    init:
      mode: always
